/****************** landing page *******************/
body {
  background-color: rgba(237, 229, 137, 0.815);
  font-family: Arial, Helvetica, sans-serif;
}


/******************* todos page ******************/
.Todo-Item .trash-icon {
  display: none;
}
.Todo-Item:hover .trash-icon {
  display: inline;
  margin-left: 20px;
}

.badge {
  font-size: 15px;
}
/************** signup page *******************/
