body {
  background-color: rgb(248, 244, 244);
  font-family: Arial, Helvetica, sans-serif;
}

.Todo-Item .trash-icon {
  display: none;
}
.Todo-Item:hover .trash-icon {
  display: inline;
  margin-left: 20px;
}

.badge {
  font-size: 15px;
}
/************** signup page *******************/
