<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Course Creation Page</h2>
    <form action="/course" method="post">
        <label for="course_name">Enter course name </label>
        <input id="course_name" type="text" name="name">
        <label for="course_desc">Enter course description </label>
        <input id="course_desc" type="text" name="description">

        <button type="submit">submit</button>
    </form>

</body>
</html>